.shake {
    animation: shake 0.3s;
}
@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    75% { transform: translateX(10px); }
}
#bejelentkezes-form {
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 5px 10px 18px #888;
}